body{
    background-image: url("https://youtu.be/6-EOfIleVJk?t=52");
}
.main-content{
background-image: url("image/praise.jpg");
background-repeat: no-repeat;
background-color:#cccccc;
background-size: cover;
height: 30em;
border-radius: 4px;
margin: auto;
}
#h22{
    color: green;
    font-family: 'Times New Roman', Times, serif;

}
    #icon{
        border: 3px solid green;
        cursor: pointer;
        width: 30px;
        text-align: left;
        display: inline;
        margin-left: 1500px;
        border-radius: 5px;
       
    }
    a:hover{
        background-color: palevioletred;
    }
    #members{
        color: red;
    }

.marquee{
    width: 100%;
    border: 2px solid darkslategray;
    border-radius: 5px;
    height: 30em;
    font-size: 15px;
    display: block;
    overflow: auto;
}
#bio{
    border-bottom:3px solid grey;
    padding: 5px;
}
.bio{
    height: 350px;
    width: 350px;
    padding-left: 0px;
    display: block;
    margin-left: 600px;
    border-radius: 10px;

}
.taya{
    font-style: italic;
    font-size: 25px;
    color: blue;
}
.taya1{
    color: black;
    font-size: 20px;
    text-align: left;
}
#u{
    border-bottom: 3px solid green;
}
.sub{
    padding: 20px;
    border: 3px solid darkturquoise;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}
#p1{
    display: inline;
}
.introduction{
    border:2px solid red;
    padding: 20px;
    height: 25em;
    border-radius: 4px;
}
.intro{
    margin: 10px;
    background-color: powderblue;
    border-radius: 2px;
    border: 2px solid rgb(100, 169, 169);
    padding: 5px;
    float: left;
    height: 19em;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    border-top: 2px red dotted;
    text-align: left;
}

h3{
    border-bottom:3px darksalmon solid ;
    text-align: center;
}
#intro1{
    background-color:darkslategrey
    
}
.intro2{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.cen{
    text-align: center;
}
.footer1{
    background-color:grey;
    color: darkgreen;
    text-align: center;
    font: italic;
    padding:10px;
    height: 50px;
    margin: 10px;
    

}
span{
    color:black;
}
.joe{
    color:#fff;
}
p{
    display: inline;
   padding: 5px;
    font: 30px;
}