
.main-content{
background-color:#fff;
height: 100em;
border-radius: 4px;
}
.navigation{
    color: green;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:2px solid cyan;
    border-radius: 20px;
    text-align: right;
    }
   ul{
        text-decoration: none;
    }
    li{
        display: inline;
        padding: 20px;
        color: green;
       
    }
    a:hover{
        cursor: pointer;
        background-color: rgb(0, 225, 255);
        font: xx-large;
        text-decoration: none;
        border-radius: 15px;

    }
.logo{
    float: left;
    background-color: green;
    margin-left: 10px;
    border-radius: 2px;
    color: indigo;
}
img{
    height: 80em;
    width: 100%;
    border-radius: 10px;
}
#p1{
    display: inline;
}
.intro{
    background-color: powderblue;
    border-radius: 2px;
    border: 2px solid rgb(100, 169, 169);
    padding: 5px;
    margin: 5px;
}
.intro2{
    font-size: 20px;
    width: 600px;
    display:block;
    font-family: 'Times New Roman', Times, serif;
    font: 400;
}
.footer1{
    background-color:grey;
    color: darkgreen;
    text-align: center;
    font: italic;
    padding:20px;
    height: 50px;
    

}
span{
    color:black;
}
.joe{
    color:#fff;
}
p{
    display: inline;
   padding: 5px;
    font: 30px;
}